<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
      <div class="docs-sidebar hidden-print affix-top" role="complementary">
        <ul class="nav docs-sidenav">
          <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
          </li>
          <li<%= sidebar_current("docs-httpfileupload-index") %>>
            <a href="/docs/providers/httpfileupload/index.html">HTTP File Upload</a>
          </li>
          <li<%= sidebar_current("docs-httpfileupload-resource-inventory") %>>
            <a href="#">Upload file over HTTP</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-httpfileupload-upload-file") %>>
                <a href="/docs/providers/httpfileupload/r/upload_file.html">httpfileupload_file</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
    <%= yield %>
  <% end %>